body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.slider-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4822303921568627) 24%, rgba(255, 255, 255, 0.258140756302521) 73%);
}
#featured{
    margin-top: -105px;
}